@using Datapac.Posybe.EnterpriseManagement.Web.Localization
@using Datapac.Posybe.EnterpriseManagement.Web.Areas.FuelPrices.ViewModels;
@using Datapac.Posybe.EnterpriseManagement.Web.Areas.Admin.Helpers;

@model ResultList<Datapac.Posybe.EnterpriseManagement.Services.ViewModelsService.FuelPrices.StationViewModel>

@{
    ViewBag.Title = Langs.title_AdminEmailsFS;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="modalApplySave" role="dialog"></div>
<div class="modal fade" id="modalBackChange" role="dialog"></div>
<div class="modal fade" id="modalEditActivity" role="dialog"></div>

<div class="row">
    <!-- Title -->
    <div class="col-sm-3" id="titleFS">
        <h2>@Langs.title_AdminEmailsFS</h2>
    </div>
</div>


<div class="row">

    <!-- Section with FuelStations -->
    <div id="stationsTable" class="col-sm-4">

        <!-- Searcher -->
        <div class="pull-right">
            <input class="form-control pull-right" type="text" data-bind="textInput: pagingService.queryOptions.searchString" id="search" placeholder=@Langs.txb_Search />
        </div>
        <!-- Items on Page -->
        <div class="pull-right">
            <form role="form" class="pull-right stations-filter-items-page">
                <select class="form-control" id="selPageSize" style="height:20px; padding:0 12px;"></select>
            </form>
            <label for="selPageSize" class="pull-right stations-filter-items-lbl-page">@Langs.ItemsPerPage</label>
        </div>

        <!-- Fuel Stations Table -->
        <table id="fuelCSTable" class="table table-bordered table-striped">
            <thead>
                <tr>

                    <th>@Html.BuildKnockoutSortableLink(Langs.Stations_PS_DID, "Index", "ps_did")</th>
                    <th>@Html.BuildKnockoutSortableLink(Langs.Stations_TITLE, "Index", "title")</th>

                </tr>
            </thead>
            <!-- use - text-center, text-right, text-left(default)  -->
            <tbody id="bodyFuelCSTable" data-bind="foreach: pagingService.entities">

                <tr data-bind="attr: {id: 'row' + ps_did}">
                    @Html.BuildTableCell("ps_did", "ps_did", "", "$parent.getEmailsForEdit")
                    @Html.BuildTableCell("title", "ps_did", "", "$parent.getEmailsForEdit")
                </tr>

            </tbody>

        </table>
        @Html.BuildKnockoutNextPreviousLinks("Index")
    </div>

    <!-- Email Edit -->
    <div class="col-sm-8" id="emailsWindow" style="margin-bottom:10px; padding-bottom: 10px">
        <div style="margin-right:5px; border:1px #d1cfcf solid; padding:0 15px 15px 15px;">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="pull-left">@Langs.title_listEmailsFor &nbsp; </h3>
                    <h3 data-bind="text: pagingService.queryOptions.clickedId" class="pull-left"></h3>
                    <h3 class="pull-left">&nbsp;-&nbsp;</h3>
                    <h3 data-bind="text: pagingService.queryOptions.clickedName" class="pull-left"></h3>
                </div>
                <div class="col-sm-6">
                    @if (MembershipHelper.IsCurrentUserEmailsWrite())
                    {
                        <button data-bind="click: saveEmail" class="btn-sm btn-success pull-right" id="btn_Save" style="margin-top:17px; width:100px" data-toggle="modal">@Langs.btn_Save</button>
                        <button data-bind="click: stornoEmail" class="btn-sm btn-danger pull-right" id="btn_Storno" style="margin-top:17px; margin-right:5px; width:100px;" data-toggle="modal">@Langs.btn_Cancel</button>
                        <button data-bind="click: addEmail" id="btn_plusEmail" class="glyphicon glyphicon-plus btn-sm btn-success pull-right" style="margin-top:16px; margin-right:5px;"></button>
                    }
                </div>
            </div>
            <table id="table_listEmails" class="table table-bordered" style="margin-top:30px;">
                <tbody id="table_body_listEmails" data-bind="foreach: listEmails">
                    <tr>
                        <td class="email-Cell-Old" data-bind="text: email , attr: {id: 'E' + emailId}"></td>
                        <td class="email-Cell-Border-None">
                            @if (MembershipHelper.IsCurrentUserEmailsWrite())
                            {
                                <span data-bind="attr: {id: 'D' + emailId}, click: $parent.deleteEmail" class="glyphicon glyphicon-trash btn-sm btn-danger pull-right"></span>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render(
    "~/Scripts/Services/PagingSorting.js",
    "~/Scripts/ViewModels/Admin/EmailsViewModel.js"
    )

    <script>
        var viewModel = new EmailsViewModel(@Html.HtmlConvertToJson(Model),'Emails');
        ko.applyBindings(viewModel);




    </script>
}
