@using Datapac.Posybe.EnterpriseManagement.Web.Localization
@using Datapac.Posybe.EnterpriseManagement.Web.Areas.Admin.Helpers;

@model IEnumerable<Datapac.Posybe.EnterpriseManagement.Web.Areas.Admin.ViewModels.UserAndRoles>

@{
    ViewBag.Title = Langs.title_AdminUsers;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@LangHelper.GetLocString("title_ListOfUsers")</h3>
@if (MembershipHelper.IsCurrentUserAdminWrite())
{
    <p style="margin:15px 0 15px 0">
        <a title="@LangHelper.GetLocString("btn_AddUser")" href="@Url.Action("Create", "Admin", new { area = "Admin" })" class="btn btn-sm btn-success">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </p>
}

<table class="table table-bordered table-striped" style="margin-bottom:20px;">
    <thead>
        <tr>
            <th>
                @LangHelper.GetLocString("UserName")
            </th>
            <th>
                @LangHelper.GetLocString("UserEmail")
            </th>
            <th>
                @LangHelper.GetLocString("UserComment")
            </th>
            <th>
                @LangHelper.GetLocString("UserListRoles")
            </th>
        </tr>
    </thead>
    <tbody class="table-users-hover" style="border-top:none;">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListRoles)
                </td>
                <td class="email-Cell-Border-None" style="background-color:white; padding-left:20px;">
                    @if (MembershipHelper.IsCurrentUserAdminWrite())
                {
                        <a title="@LangHelper.GetLocString("btn_EditUser")" href="@Url.Action("Edit", "Admin", new { user = item.UserName, area = "Admin" })" class="btn btn-xs btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>