@using Datapac.Posybe.EnterpriseManagement.Asrt.Web.Localization
@model Datapac.Posybe.EnterpriseManagement.Web.Areas.Admin.Helpers.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @*@Html.Hidden("returnUrl", Request["returnUrl"])*@

    @*  @Html.Partial("_MainMenu")*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-offset-4 col-md-4" style="margin-top:100px;">
                <div class="form-horizontal col-md-offset-1 col-md-10">
                    <h1>@Langs.LoginToApp</h1>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group" style="text-align:left;">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-5", @style = "text-align:left;" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control pull-right" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-5", @style = "text-align:left;" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control pull-right" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="pull-right" style="padding-right:15px;">
                            @Html.CheckBoxFor(m => m.RememberMe, new { style = "margin-right: 10px" })
                            @LangHelper.GetLocString("RememberMe")
                        </label>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-offset-5 col-md-7">
                            <input type="submit" value="@Langs.Login" class="btn btn-primary pull-right" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>