@using Datapac.Posybe.EnterpriseManagement.Asrt.Web.Localization
@using System.Web.Security
@using Datapac.Posybe.EnterpriseManagement.Web.Areas.Admin.Helpers;

@*
    @if (Request.IsAuthenticated)
    {
        <ul class="nav nav-pills">
            <li role="presentation">
                @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { title = Langs.ManageLogin, style = "padding:5px 15px;" })
            </li>
            <li role="presentation">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()

                    <a href="javascript:document.getElementById('logoutForm').submit()" class="logoff">@Langs.LogOff</a>

                }
            </li>
        </ul>
    }
*@

@*  Test len kvoli linkom  *@
@{
    try
    {
        var id = HttpContext.Current.User.Identity.Name;

        if (HttpContext.Current.User.Identity.Name != "")
        {
            var userName = HttpContext.Current.User.Identity.Name;
            <ul class="nav nav-pills">
                <li role="presentation">
                    <a href="#" class="logoff">@userName</a>
                    @*@Html.ActionLink("User", "", "", routeValues: null, htmlAttributes: new {style = "padding:10px 15px;" })*@
                </li>
                <li role="presentation">

                    <a href="~/Home/Logout" class="logoff">@Langs.LogOff</a>

                </li>
            </ul>
        }
    }
    catch (Exception ex)
    {
        LogerHelper.LogAllExceptions(this, ex, "Error to show login/logout user");
    }
}