@using Datapac.Posybe.EnterpriseManagement.Asrt.Web.Localization
@using Datapac.Posybe.EnterpriseManagement.Asrt.Web.ViewModels;
@using Datapac.Posybe.EnterpriseManagement.Asrt.Web.Helpers;

@model ResultListAssortment<Datapac.Posybe.EnterpriseManagement.Asrt.Web.ViewModelItem>

@{
    ViewBag.Title = "PEM - Assortment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Modal Supplier autocomplet in table cells *@
<!-- for dialogs -->
<div class="modal fade" id="modalApplySave" role="dialog"></div>
<div class="modal fade" id="modalBackChange" role="dialog"></div>
<div class="modal fade" id="modalEditActivity" role="dialog"></div>
<div class="modal fade" id="warningModal" role="dialog"></div>
<!-- for Supplier change -->
<div class="modal fade" id="modalSuppliers" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">@Langs.Supplier</h5>
            </div>
            <div class="modal-body">
                <input id="modal_supplierSearch" hidden="" style="max-width:none" class="form-control" type="text" placeholder="@Langs.Asrt_SelectVendor" />
            </div>
            <table class="table table-striped">
                <tbody>
                    <tr id="modaldata">
                        <td style="padding-left:15px;"><span data-bind="text:supplierId"></span></td>
                        <td><span data-bind="text:supplierLongName"></span></td>
                    </tr>
                </tbody>
            </table>
            <div class="modal-footer">
                <button id="btn_saveSupplier" type="button" class="btn btn-sm btn-success" data-dismiss="modal" data-bind="click: $root.saveSupplier">@Langs.btn_Save</button>
                <button id="btn_cancelSupplier" type="button" class="btn btn-sm btn-danger" data-dismiss="modal" data-bind="click: $root.cancelSupplier">@Langs.btn_Cancel</button>
            </div>
        </div>
    </div>
</div>

@* Top part of screen *@
<div class="row">
    <!-- Title -->
    <div class="col-sm-4 col-md-4 col-lg-3" id="tittleDiv" style="margin-top:25px;">
        <h2 id="tittleItem" class="pull-left" style="margin-top:10px; margin-bottom:20px;">@Langs.Assortment</h2>
        <span id="collapseButton" data-bind="click: collapseAssortItems" style="margin-top:10px; margin-left:15px;" class="btn btn-sm btn-primary glyphicon glyphicon-chevron-left pull-right disabled"></span>
    </div>

    <!-- Righ side Tittle level -->
    <div class="col-sm-8 col-md-8 col-lg-9 asrt-hidden row" style="padding-right:0px; margin-bottom:0px; margin-top: 15px;" id="activeElements">
        <!-- Info about item -->
        <div class="col-sm-6">
            <h4>
                <span id="showButton" data-bind="click: showAssortItems" style="margin-right:15px; margin-top:10px;" class="btn btn-sm btn-primary glyphicon glyphicon-chevron-right pull-left"></span>
                <small class="item-header-title">@LangHelper.GetLocString("Asrt_ItemName"):&nbsp;</small>
                <span data-bind="text: pagingServiceSlave.queryOptions.clickedName"></span>
                <small>(<span id="itemIdForAutocomplete" data-bind="text: pagingServiceSlave.queryOptions.clickedId"></span>)</small>
            </h4>
            <h4>
                <small class="item-header-title">@Langs.Asrt_Category</small>
                <span data-bind="text: pagingServiceSlave.queryOptions.subCategoryName"></span>
                <small>(<span data-bind="text: pagingServiceSlave.queryOptions.hierarchicalNumber"></span>)</small>
            </h4>
        </div>
        <!-- Buttons Add, Save, Cancel, when is right to write -->
        @* Right to edit *@
        <!-- ko if: $root.hasWriteRight -->
        <div class="pull-right" style="margin-top:15px; margin-right:20px;">
            <button id="btn_Save" data-bind=" click: $root.saveAssortment" class="btn btn-sm btn-success pull-right" style="width: 100px;" data-toggle="modal">@Langs.btn_Save</button>
            <button id="btn_Cancel" data-bind=" click: $root.cancelAssortment" class="btn btn-sm btn-danger asrt-filter-item pull-right" data-toggle="modal">@Langs.btn_CancelChanges</button>
            <button id="btn_AddAssortment" data-bind=" click: $root.addNewAssortment" class="glyphicon glyphicon-plus btn btn-sm btn-success asrt-filter-item pull-right"></button>
        </div>
        <!-- /ko -->
    </div>
</div>

@* Tables Items and assortment *@
<div class="row">

    <!-- Section with ITEMS -->
    <div id="itemsTable" class="col-sm-4 col-md-4 col-lg-3">
        <div class="col-sm-4 col-md-4 col-lg-4" style="padding-right:0px; padding-left:0px;">
            <select data-bind="options: goodsTypeList, optionsText: 'goodsTypeName', optionsValue: 'goodsTypeId', event: { change: goodsFilterChange} " id="goodsFilter" class="sel-pic-filter-item pull-left asrt-filter-item"></select>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8" style="padding-right:0px; padding-left:2px;">
            <!-- Searcher && Items on Page-->
            @Html.BuildSearcherAndItemOnPage()
        </div>

        <!-- Items Table -->
        <table id="itemsDataTable" class="table table-bordered table-striped" style="margin-top: 10px">
            <thead>
                <tr>
                    <th>@Html.BuildKnockoutSortableLink(Langs.Item, "Index", "item")</th>
                    <th>@Html.BuildKnockoutSortableLink(Langs.Item_TITLE, "Index", "title")</th>
                </tr>
            </thead>
            <!-- use - text-center, text-right, text-left(default)  -->
            <tbody id="bodyItemsDataTable" data-bind="foreach: pagingService.entities">
                <tr data-bind="attr: {id: 'row' + item, 'data-longName': longName,'data-subcategoryName': subcategoryName , 'data-hierarchical': hierarchicalNumber }">
                    @Html.BuildTableCell("item", "item", "", "$parent.getItemForEdit")
                    @Html.BuildTableCell("title", "item", "", "$parent.getItemForEdit")
                </tr>
            </tbody>
        </table>
        @Html.BuildKnockoutNextPreviousLinks("Index")
    </div>


    <!-- Section with filtering and Assortment Editing -->
    <div class="col-sm-8 col-md-8 col-lg-9 asrt-hidden" id="assortmentWindow">

        <!-- Filtering -->
        <div class="row">
            <div class="pull-left col-sm-8">
                <!-- Vendor -->
                <input type="text" class="form-control asrt-input-height pull-left asrt-filter-item" id="txb_vendor_search" style="width:150px" placeholder="@Langs.Asrt_SelectVendor" />

                <!-- Status -->
                <select data-bind="options: statuses, optionsText: 'statusName', optionsValue: 'statusId'" id="statusFilter" class="sel-pic-filter pull-left asrt-filter-item" title="@Langs.Asrt_SelectStatus"></select>

                <!-- VAT Class -->
                <select data-bind="options: vatclasslist, optionsText: 'vatName', optionsValue: 'vatId' " id="vatFilter" class="sel-pic-filter pull-left asrt-filter-item" title="@Langs.Asrt_SelectVat"></select>

                <!-- Site Segment -->
                <select data-bind="options: siteSegments, optionsText: 'segmentName', optionsValue: 'segmentId' " id="segmentFilter" class="sel-pic-filter pull-left asrt-filter-item" title="@Langs.Asrt_SelectSegment"></select>

                <!-- Site Group -->
                <div class="pull-left">
                    <select id="groupFilter" multiple="multiple" data-bind="options: siteGroups, selectedOptions: selectedGroups, optionsText: 'siteGroupName', optionsValue: 'siteGroupId', event: {change: filterByGroup}"></select>
                </div>

                <!-- Reset button -->
                <button data-bind="click: $root.resetFilter" class="glyphicon glyphicon-remove btn btn-sm btn-danger pull-left asrt-filter-item" style="margin-right:20px; margin-left: 5px; margin-top:2px;" id="resetFilter"></button>
                <div id="ajax-loader" class="hidden control-btn" style="margin-top:5px;">
                    <img src="~/Content/images/ajax-loader.gif" style="height:22px;" />
                </div>
            </div>

            <!-- Searcher && Items on Page-->
            <div class="col-sm-4" style="padding-right:35px;">
                @Html.BuildSearcherAndItemOnPage("3", "7", "Slave")
            </div>
        </div>
        <div>
            <table id="AsortmentTable" class="table table-bordered table-striped" style="border:none;">
                @* Header Assortment*@
                <thead class="asrt-edit-cell">
                    @* First row Header*@
                    <tr>
                        @* Fuel Station Identification *@
                        <th class="table-assort-header" data-bind="attr: { colspan: isSelectedSegmentation() ? 3:2}" style="text-align:center">@LangHelper.GetLocString("Asrt_FSIdentify")</th>
                        @* Actual Date *@
                        <th class="table-assort-header" colspan="3" style="text-align:center">@LangHelper.GetLocString("Asrt_ActualDate")</th>
                        @* Date edited columns and buttons *@
                        <!-- ko foreach: pagingServiceSlave.queryOptions.assortmentHeader -->
                        @* Right to edit *@
                        <!-- ko if: $root.hasWriteRight -->
                        <th data-bind="css: newAssortmentColumn  ? 'table-new-assort-header' : 'table-assort-header'" colspan="3">
                            <div class="form-inline">
                                <div class='input-group date control-btn' id="datepickerAssort" style="width: 180px;">
                                    <input type='text' data-bind="textInput: dateFromHeader, attr: {'id': 'dateFromHeader' + columnHeaderId}, event: {blur: $root.changeAssortmentDate}" class="form-control asrt-input-height">
                                    <span class="input-group-addon" style="padding:0px;">
                                        <span class="glyphicon glyphicon-calendar btn-sm" data-bind="attr: {'id': 'dateFromHeaderIcon' + columnHeaderId}"></span>
                                    </span>
                                </div>

                                <button data-bind="click: $root.deleteColumnAssortment, attr:{'id': 'delete' + columnHeaderId}" class="glyphicon glyphicon-trash btn btn-sm btn-danger pull-right"></button>
                            </div>
                        </th>
                        <!-- /ko -->
                        <!-- ko ifnot: $root.hasWriteRight -->
                        <th data-bind="text: dateFromHeader" class="table-assort-header" colspan="3" style="text-align:center"></th>
                        <!-- /ko -->
                        <!-- /ko -->
                        <th style="width: 0; padding: 0 15px 0 0 !important; border: none !important; visibility: hidden;">&nbsp;</th>
                    </tr>
                    @* Second row Header*@
                    <tr>
                        @* Fuel Station Identification *@
                        <th style="min-width:60px;" class="table-assort-header">@Html.BuildKnockoutSortableLink(LangHelper.GetLocString("Asrt_StationDID"), "Index", "stationDID", "Slave")</th>
                        <th style="min-width:70px;" class="table-assort-header">@Html.BuildKnockoutSortableLink(LangHelper.GetLocString("Asrt_StationName"), "Index", "stationName", "Slave")</th>
                        <!-- Show column only if is segment filter selected -->
                        <!-- ko if: $root.isSelectedSegmentation -->
                        <th style="min-width:80px;" class="table-assort-header" rowspan="2">@Html.BuildKnockoutSortableLink(LangHelper.GetLocString("Asrt_GroupName"), "Index", "groupName", "Slave")</th>
                        <!-- /ko -->
                        @* Actual Date *@
                        <th style="min-width:80px;" class="table-assort-header">@LangHelper.GetLocString("Asrt_Status")</th>
                        <th style="min-width:60px;" class="table-assort-header">@LangHelper.GetLocString("Asrt_VAT")</th>
                        <th style="min-width:131px;" class="table-assort-header">@LangHelper.GetLocString("Asrt_Vendor")</th>
                        @* Cycle in Header - set for status, VAT, vendor *@
                        <!-- ko foreach: pagingServiceSlave.queryOptions.assortmentHeader -->
                        @* Status header *@
                        @* Right to edit *@
                        <!-- ko if: $root.hasWriteRight -->
                        <th data-bind="css: newAssortmentColumn  ? 'table-new-assort-header' : 'table-assort-header'">
                            <div class="input-group">
                                <select data-bind="options: $root.statusesX, optionsCaption: ' ', optionsText: 'statusName', optionsValue: 'statusId', attr: {'id': 'statusFromHeader' + columnHeaderId}, css: 'status' + columnHeaderId" class="sel-pic-table-header"></select>
                                <span data-bind="attr:{'id': 'allStatuses' + columnHeaderId}, click: $root.updateRangeStatuses, css: 'status' + columnHeaderId" class="glyphicon glyphicon-arrow-down btn btn-sm input-group-addon"></span>
                            </div>
                        </th>
                        <!-- /ko -->
                        <!-- ko ifnot: $root.hasWriteRight -->
                        <th class="table-assort-header">@LangHelper.GetLocString("Asrt_Status")</th>
                        <!-- /ko -->
                        @* Vat header *@
                        @* Right to edit *@
                        <!-- ko if: $root.hasWriteRight -->
                        <th data-bind="css: newAssortmentColumn ? 'table-new-assort-header' : 'table-assort-header'" style="width: 110px;">
                            <div class="input-group">
                                <select data-bind="options: $root.vatclasslistX, optionsCaption: ' ', optionsText: 'vatName', optionsValue: 'vatId', attr: {'id': 'vatFromHeader' + columnHeaderId}, css: 'vat' + columnHeaderId" class="sel-pic-table-header"></select>
                                <span data-bind="attr:{'id': 'allVats' + columnHeaderId}, click: $root.updateRangeVats, css: 'vat' + columnHeaderId" class="glyphicon glyphicon-arrow-down btn btn-sm input-group-addon"></span>
                            </div>
                        </th>
                        <!-- /ko -->
                        <!-- ko ifnot: $root.hasWriteRight -->
                        <th class="table-assort-header">@LangHelper.GetLocString("Asrt_VAT")</th>
                        <!-- /ko -->
                        @* Supplier Header *@
                        @* Right to edit *@
                        <!-- ko if: $root.hasWriteRight -->
                        <th data-bind="css: newAssortmentColumn  ? 'table-new-assort-header' : 'table-assort-header'" style="width: 110px;">
                            <div class="input-group">
                                <input class="form-control asrt-input-height asrt-supplier-modal" data-toggle="modal" readonly style="background-color:white; height:30px; font-size:12px;"
                                       data-bind="text: supplierName, attr: {'id': 'supplierFromHeader' + columnHeaderId}, css: 'supplier' + columnHeaderId, click: $root.getSupplier.bind($data, ('supplierFromHeader' + columnHeaderId))" />
                                <span data-bind="attr:{'id': 'allSuppliers' + columnHeaderId}, click: $root.updateRangeSuppliers, css: 'supplier' + columnHeaderId" class="glyphicon glyphicon-arrow-down btn btn-sm input-group-addon"></span>
                            </div>
                        </th>
                        <!-- /ko -->
                        <!-- ko ifnot: $root.hasWriteRight -->
                        <th class="table-assort-header">@LangHelper.GetLocString("Asrt_Vendor")</th>
                        <!-- /ko -->
                        <!-- /ko -->
                    </tr>
                </thead>
                @* Body Assortment*@
                <tbody id="bodyAssortmentDataTable" data-bind="foreach: pagingServiceSlave.entities">
                    <tr>
                        @* Fuel Station Identification *@
                        @Html.BuildTableCell("stationDID", "stationDID", "", "")
                        @Html.BuildTableCell("stationName", "stationName", "", "")
                        @* Show column only if is segment filter selected *@
                        <!-- ko if: $root.isSelectedSegmentation -->
                        @Html.BuildTableCell("groupName", "groupName", "", "")
                        <!-- /ko -->
                        @* Cycle on whole assortment in rows *@
                        <!-- ko foreach: assortmentLists -->
                        @* Actual Column *@
                        <!-- ko if: columnBodyId == 0 -->
                        <td class="table-actual-assort" data-bind="text: statusName"></td>
                        <td class="table-actual-assort" data-bind="text: vatclassName, attr:{'title': vatclassLongName}"></td>
                        <td class="table-actual-assort" data-bind="text: supplierName, attr:{'title': supplierLongName}"></td>
                        <!-- /ko -->
                        @* New saved column *@
                        <!-- ko if: columnBodyId > 0 -->
                        @* Status Body *@
                        @* Right to edit *@
                        <!-- ko if: $root.hasWriteRight -->
                        <td class="asrt-picker-body-cell" style="padding: 0px;">
                            <select data-bind="options: $root.statusesX, selected:statusId, value:statusId, optionsCaption:' ' , optionsText: 'statusName', optionsValue: 'statusId', attr: {'id': $parent.stationDID + 'stat' + columnBodyId}, css: 'status' + columnBodyId, valueAllowUnset:true" class="sel-pic-table-body"></select>
                        </td>
                        <!-- /ko -->
                        <!-- ko ifnot: $root.hasWriteRight -->
                        <td data-bind="text: statusName"></td>
                        <!-- /ko -->
                        @* Select Body *@
                        @* Right to edit *@
                        <!-- ko if: $root.hasWriteRight -->
                        <td class="asrt-picker-body-cell" style="padding: 0px;">
                            <select data-bind="options: $root.vatclasslistX, selected:vatclassId, value: vatclassId, optionsCaption: ' ', optionsText: 'vatName', optionsValue: 'vatId', attr: {'id': $parent.stationDID + 'vat' + columnBodyId}, css: 'vat' + columnBodyId" class="sel-pic-table-body"></select>
                        </td>
                        <!-- /ko -->
                        <!-- ko ifnot: $root.hasWriteRight -->
                        <td data-bind="text: vatclassName, attr:{'title': vatclassLongName}"></td>
                        <!-- /ko -->
                        @* Vendor Body *@
                        @* Right to edit *@
                        <!-- ko if: $root.hasWriteRight -->
                        <td class="asrt-picker-body-cell" style="padding: 0 0 0 5px;">
                            <input type="text" class="asrt-supplier-body-cell asrt-supplier-modal" data-toggle="modal" readonly
                                   data-bind="value: supplierName, attr:{'title': supplierLongName, 'id': $parent.stationDID + 'supx' + columnBodyId}, css: 'supplier' + columnBodyId,  click: $root.getSupplier.bind($data, ($parent.stationDID + 'supx' + columnBodyId))" />
                        </td>
                        <!-- /ko -->
                        <!-- ko ifnot: $root.hasWriteRight -->
                        <td data-bind="text: supplierName, attr:{'title': supplierLongName}"></td>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- /ko -->
                    </tr>
                </tbody>
            </table>
            <div style="margin-right:20px;">
                @Html.BuildKnockoutNextPreviousLinks("Index", "Slave")
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render(
        "~/Scripts/Services/PagingSorting.js",
        "~/Scripts/ViewModels/AssortmentViewModel.js"
        )

    <script>
            var viewModel = new AssortmentViewModel(@Html.HtmlConvertToJson(Model));
            ko.applyBindings(viewModel);

        

        //datetime picker setting
            var dt = new Date();
            dt.setMinutes(dt.getMinutes() - 1);
            function activateDatePickers(elementId) {
                if (elementId === undefined || elementId === "")
                    elementId = ".date";

                var dts = $(elementId);
                console.debug(dts.length);
                dts.datetimepicker({
                    locale: '@Langs.LangDateTimePicker',
                    format: 'DD.MM.YYYY HH:mm',
                    minDate: dt,
                    showClose: true,
                });
            };

        $(document).ready(function () {

            //selectpicker in Assortment Filter section
            $('.sel-pic-filter').selectpicker({
                width: '130px',
                size: 7,
            });

            //selectpicker in Item Filter section
            $('.sel-pic-filter-item').selectpicker({
                width: '160px',
                size: 7,
            });

            //multipicker
            $('#groupFilter').multiselect({
                includeSelectAllOption: true,
                nonSelectedText: '@Langs.Asrt_SelectGroup',
                selectAllText: '@Langs.SelectAll',
                buttonClass: 'btn btn-default asrt-multipic-nonSelected-color',
                selectedClass: 'asrt-multi-polozky',
                buttonWidth: '130',
            });

            $("#groupFilter").change(function () {
                if ($(this).val() != "") {
                    $(".multiselect-selected-text").css("color", "black");
                } else {
                    $(".multiselect-selected-text").css("color", "#999");
                }
            });

            $("#showButton").hide();
        });
    </script>
}
